{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img {
    max-width: 100%;
    width: 48px;
    height: 48px;   
}

.container {
    max-width: 1170px;
    width: 96%;
    margin: auto;
}

.button {
     
    background-color: #FFD200;
    color: #333; 
    border: none;  
    cursor: pointer;
    padding: 18px 47px;
    border-radius: 10px;
} 

.button:hover {
    background-color:  #f7dd6b;
  }

.input {
    border: 1px solid #dddddd;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px 25px;
     
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
     
}

.section-subtitle {
    color: #000;
    font-size: 20px;
    text-align: center;
    display: block;
}

.header {
    padding: 20px 0;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__info {
    display: flex;
    text-align: right; 
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.header__address {
    color: #333;
    font-size: 13px;
    font-weight: 400;
}

.header__phone{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.header__button{
    padding: 18px 47px;
    border-radius: 10px;
    margin-left: 60px;
    font-size: 13px;
}

.main {
    background-color: #f5f5f5;
}

.main-block {
    display: flex;
    align-items: center; 
    /*padding: 40px 0 15px 0;*/
    padding: 50px 0 40px 0;
}

.main-text {
    flex-basis: 50%;
     
    }


.main-text__title {
    font-size: 41px;
    color: #333;
    padding-right: 200px;
    line-height: 55px;
    /*margin: 45px 0 20px 0;*/     
    margin-bottom: 45px;
}

.main-text__subtitle{
    font-size: 20px;
    line-height: 65px;
    color: #333;
     
}

/*.main-image {
    margin-left: 20px;
  }
*/
.main-image img{
    width: 570px;
    height: 488px; 
    margin-right: -55px; 
} 
        
 
.main_list {
    margin: 40px 0 0 0;
    padding: 0 0 0 0;
}


.main_list__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
 
 

.main_list__image {
    width: 40px;
    height: 40px;
    border: 2px solid #FFD200;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.main_list__text {
    line-height: 24px;
    font-size: 14px;
    color: #333;
    max-width: 300px;
}

.offer {
    padding: 90px 0;
    background-image: url('../img/rectangle.png');
        width: 959px; 
        height: 595px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    position: relative;
    
} 

/*@media (max-width: 1200px) {
    .offer {
      background-size: cover;
    }
  }*/

.offer:before {
    content: ''; 
    width: 50%;
    height: 100%;
    position: absolute; 
    background-color: #fff;
    top: 0;
    left: 0;
}

.offer-block {
    width: 50%;
    padding-right: 90px;
    position: relative;
}

 
.offer-title {
    font-size: 24px;
    line-height: 35px;
    max-width: 350px;
    margin-bottom: 25px;
     
} 

.offer-subtitle {
    display: inline-block;
    max-width: 260px;
    font-size: 16px;
    margin-bottom: 25px;
}

.offer__input {
    margin-bottom: 30px;
    width: 240px;

}

.offer__input :first-child{
    margin-right: 10px;
}

.offer__button {
    width: 100%;
    min-height: 70px;
    
}

.offer-call {
    display: inline-block;
    max-width: 180px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-right: 130px;
}

.offer-bid {
    display: inline-block;
    max-width: 160px;
    font-size: 16px;     
}

.offer__phone {
    text-decoration: none;
    font-weight: 700;
    display: block;
}

.portfolio {
    /*padding: 80px 170px 100px 0;*/
    background: #f5f5f5 url('../img/rectangle2.png') left repeat-y;
    background-size: 50%;  
    padding: 100px 0; 
    /*position: absolute;  
    margin-right: 0; */
    display: inline-block;
    /*align-items: center; 
    /*padding: 60px 0 35px 0; */
}

/*@media (max-width: 1200px) {
    .container {
      width: 90%;
    }
  }*/

.portfolio__title {
    margin-bottom: 100px;    
    color: #333;
}

.portfolio__arrows {
    max-width: 120px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
}

.arrows__left, .arrows__right {
    cursor: pointer;
}

.slider__image {
    margin: auto;
    width: 370px; 
    height: 280px;
}

.price {
    padding: 100px 0;
}

.price__title {
    margin-bottom: 60px;

}

.price__subtitle {
    margin-bottom: 60px;
    
}

.price__card {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between; */
}

.card {
    text-align: center;
    border: 2px solid #e8e8e8;
    transition: .2s;
}

.card:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
    opacity: 1;
  }

.card__text {
    padding: 40px;
}

.card__title {
    margin-top: 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}

.card__image {
    position: relative;
  }

.card__image img {
    display: block;
    width: 370px;
    height: 260px; 
  }

.card__image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
  }

.card__link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: relative;
}

.card__link:hover::after {
    height: 13px;
  }

.card__link::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1; 
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffd200;
    -webkit-transition: .2s;
    transition: .2s;
  }

steps__title {
    margin-bottom: 60px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    display: none;
}

.modal_active {
    display: flex;
}

.modal-dialog {
    margin: auto;
    max-width: 450px;
    width: 90%;
    min-height: 200px;
    background-color: #fff;
    padding: 40px;
    position: relative;
}

.modal-dialog__close {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 640px) {  
    
    .header__contacts{
        display: none;
    }

     
    .main-text__title{
        font-size: 30px;
        line-height: 1.4;
    }
    .main-text__subtitle{
        font-size: 30px;
        line-height: 1.4;
    }

     
}

@media (max-width: 768px) {
    .offer { 
        background: #fff;
    }
    .offer-block {
        width: 100%;
        padding-right: 0;
    }

    .offer__button {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;    
    }
    .main-block{
        flex-direction: column;
    }
    .main-text{
        margin-bottom: 30px;
        }
    .main-text__title{
        font-size: 41px;
        color: #333;
        padding-right: 200px;
        line-height: 55px;
    }

    .offer {
        background-size: cover;
    }

    .offer__input {
        margin-bottom: 15px;
        width: 100%;
    
    }

    .offer__button {
        width: 100%;
        min-height: 70px;
        font-size: 13px;
    }
}

 